.jumbotron {
  /* background-color: light; */
  margin: 20px 0px 20px 0px;
  background-image: url("/Imagenes/335.jpg");
  height: 425px;
  /* You must set a specified height */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
}

.row-info {
  margin: 5px 5px 50px 5px;
}

footer {
  background-color: #edebce;
  padding: 10px 10px 0px 10px;
  margin-bottom: 0px;
  margin-top: 10px;
  justify-content: space-between;
}

.card-hotel {
  flex: 1 350px;
  margin-top: 25px;
  /* style="width: 150rem;" */
  padding: 10px 5px 10px 5px;
  /* background-color: rgb(230, 230, 230); */
  /* text-align: center; */
  /* display: flex; */
  flex-direction: column;
  /* justify-content: space-between; */
  border-top: 6px solid skyblu;
  border-style: ridge;
  border-radius: 10px;
}

.btn-reservar {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.footer-address-icon {
  padding-right: 10px;
}

.contacto {
  padding: 10px 20px 20px 10px;
}

/*# sourceMappingURL=styles.css.map */
